<% AssetMetum.assignable_meta(@asset).each do |meta| %>
  <% fields_for 'asset[meta_attributes][]', meta do |meta_fields| %>
    <tr>
      <th class="label">
        <%= meta_fields.label :key, meta.key %>
        <%= meta_fields.hidden_field :key %>
        <% unless meta.new_record? %>
          <%= meta_fields.hidden_field :id %>
        <% end %>
      </th>
      <td class="field">
        <%= meta_fields.text_field :value, :class => 'textbox' %>
      </td>
    </tr>
  <% end %>
<% end %>
